@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(9 64 116 / var(--tw-bg-opacity));
  user-select: none;
  overflow-x: hidden;
}
